<div class="row">
    <div class="col-sm-9">
        <h1><%= @place[:title] %></h1>
        <p><%= @place[:description] %></p>

        <% for reviews in @reviews %>
            <div class="media">
                <% if reviews[:recommend] %>
                   <i class="far fa-check-circle fa-3x mr-3"></i>
                <% else %>
                    <i class="far fa-times-circle fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                     <%= @users_table.where(id: reviews[:user_id]).to_a[0][:name] %>

                        <small>
                         <!-- only show these links if it's my rsvp -->
                         <% if @current_user && @current_user[:id] == reviews[:user_id] %>
                            (<a href="/reviews/<%= reviews[:id] %>/edit">edit</a> | <a href="/reviews/<%= reviews[:id] %>/destroy">delete</a>)
                         <% end %>
                        </small>
                    </h5>
                    <%= reviews[:review] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/places/<%= @place[:id] %>/reviews/new" class="btn btn-primary">Add Review!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to Review</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Where?</h3>
        <p><%= @place[:location] %></p>
              
        <iframe
            width="300"
            height="250"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @lat_long %>&zoom=12" allowfullscreen>
        </iframe>

        <h3>How many recommend this place?</h3>
        <p>
            <i class="far fa-check-circle fa-3x mr-3"></i>
            <%= @recommend_count %>
            </p>
        <p>
            <i class="far fa-times-circle fa-3x mr-3"></i>
            <%= @noreco_count %>
            </p>
    </div>
</div>