<div class="row">
    <div class="col-sm-9">
        <h1><%= @place[:title] %></h1>
        <p><%= @place[:description] %></p>

        <% for reviews in @reviews %>
            <div class="media">
                <% if recommend[:recommend] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i> #CHANGE ICON
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i> #CHANGE ICON
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: reviews[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my review -->
                            <% if @current_user && @current_user[:id] == reviews[:user_id] %>
                                (<a href="/reviews/<%= place[:id] %>/edit">edit</a> | <a href="/reviews/<%= review[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= reviews[:review] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/places/<%= @reviews[:id] %>/reviews/new" class="btn btn-primary">Review Now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Where?</h3>
        <p><%= @place[:location] %></p>
        <h3>How many people recommend so far?</h3>
        <p><%= @recommend_count %></p>
    </div>
</div>